<!-- invoice -->
<template name="invoice">
	{{#with order}}
		<div class="page-header">
			{{#if payment_at}}<div class="alert alert-success hidden-print">Заплачено</div>{{/if}}
			<h2>Счет-фактура <small>№ {{create_at}}</small></h2>
			<h3>Дата выставления <small>{{date create_at}}</small></h3>
			{{#if payment_at}}<h4>Дата оплаты <small>{{date payment_at}}</small></h4>{{/if}}
		</div>
		<div class="row">
			<div class="col-xs-6">
				<h3>Покупатель:</h3>
				{{purchaser}}
			</div>
			<div class="col-xs-6">
				<h3>Продавец:</h3>
				<address>
				  <strong>Aqua Vita Travel s.r.o.</strong><br>
				  Sokolovska 38<br>
				  360 05  Karlovy Vary (CZ)<br>
				  +420 777 551 560<br>
				  info@aquavita-travel.com
				</address>
			</div>
		</div>
		<div class="panel panel-default">
			
			<div class="panel-heading">{{desc}}</div>
			
			<table class="table table-hover">
				<tr>
					<th>К-во</th>
					<th>Описание</th>
					<th>Цена ед. €</th>
					<th>Итого</th>
				</tr>
				{{#each items}}
					<tr>
						<td>{{amount}} {{amount_type}}</td>
						<td>{{name}}</td>
						<td>{{price}}</td>
						<td>{{total_price}}</td>
					</tr>
				{{/each}}
			</table>
			
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-2 col-md-offset-5">
					    <p class="form-control-static">Итого к оплате: </p>
					</div>
					<div class="col-xs-2">
					    <p class="form-control-static"><span data-role="invoice-total-price">{{invoice_total}}</span> €</p>
					</div>
					<div class="col-xs-2">
						{{>payment}}
					</div>
				</div>
			</div>
		</div>
	{{/with}}
</template>

<!-- payment_form -->
<template name="payment">
	{{#unless payment_at}}
		<button type="submit" class="btn btn-success" data-loading-text="Loading..." data-action="goto-gpwebpay">Оплатить картой</button>	
	{{/unless}}
</template>
