
<head>
  <title>Заявки</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	
	{{#if isPageStarts "/invoice/" "/pay" "/error"}}
		<div class="container invoice">
			{{renderPage}}
		</div>
	{{else}}
		{{#if currentUser}}
			{{>nav_bar}}

			<div class="container">
				{{renderPage}}
			</div>
		{{else}}
			<div class="container">
				{{loginButtons}}
			</div>
	  	{{/if}}
	{{/if}}
</body>

<template name="nav_bar">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Заявки</a>
		</div>
		
		<ul class="nav navbar-nav">
			<li {{#if isActivePage "/order"}}class="active"{{/if}}><a href="/order">Новая</a></li>
			<li {{#if isActivePage "/list"}}class="active"{{/if}}><a href="/list">Список</a></li>
		</ul>
		
		<form class="navbar-form navbar-right" data-role="search">
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Поиск" name="query">
		  </div>
		  <button type="submit" class="btn btn-default">Найти</button>
		</form>
	</nav>
</template>