<!-- list -->
<template name="list">
	{{#each orders}}
		<div class="row">
			<div class="col-xs-5"><a href="/order/{{_id}}">{{desc}}</a></div><div class="col-xs-5">{{purchaser}}</div><div class="col-xs-2">{{invoice_total}}€</div>
		</div>
	{{/each}}
</template>

<!-- order -->
<template name="order">
	{{#with order}}
		<div class="page-header"><h1>Редактировать заявку</h1></div>
		{{>order_form}}
	{{else}}
		<div class="page-header"><h1>Новая заявка</h1></div>
		{{>order_form}}
	{{/with}}
</template>

<!-- order_form -->
<template name="order_form">
	<form role="form" data-role="invoice-form" data-id="{{_id}}">
		
		<div class="form-group">
			<label for="desc">Описание</label>
			<input type="text" name="desc" value="{{desc}}" class="form-control" id="desc" required placeholder="Название санатория с датами заезда или другая услуга">
		</div>
		
		<div class="form-group">
			<label for="purchaser">Покупатель</label>
			<textarea class="form-control" name="purchaser" id="purchaser" rows="3" required placeholder="Имя и Фамилия или реквизиты фирмы">{{purchaser}}</textarea>
		</div>
		
		<div class="row">
			<div class="col-xs-3">
				<label class="form-control-static">К-во</label>
			</div>
			<div class="col-xs-5">
				<label class="form-control-static">Описание</label>
			</div>
			<div class="col-xs-2">
				<label class="form-control-static">Цена ед. в €</label>
			</div>
			
			<div class="col-xs-2">
			    <label class="form-control-static">Итого</label>
			</div>
		</div>
		{{#each items}}
			{{>order_form_item}}
		{{else}}
			{{>order_form_item}}
		{{/each}}
		
		<div class="row form-group">
			<div class="col-xs-8">
			    <a class="form-control-static btn btn-link" href="#" data-action="add-order-form-item">Добавить еще</a>
			</div>
			<div class="col-xs-2">
			    <p class="form-control-static">Итого к оплате: </p>
			</div>
			<div class="col-xs-2">
			    <p class="form-control-static"><span data-role="invoice-total-price">{{invoice_total}}</span> €</p>
			</div>
		</div>
		
		<div class="form-group">
			<button type="submit" class="btn btn-default" data-role="save-order-form" disabled>Сохранить</button>
			<a class="btn btn-primary" href="/invoice/{{_id}}/{{create_at}}" target="_blank">Фактура</a>
		</div>
	
	</form>
</template>

<!-- order_form_item -->
<template name="order_form_item">
		
		<div class="row form-group" data-role="invoice-item">
			<div class="col-xs-1">
				<input type="text" name="amount" value="{{amount}}" class="form-control" id="amount" data-action="calculate-total-price">
			</div>
			<div class="col-xs-2">
				<input type="text" name="amount_type" value="{{amount_type}}" class="form-control" id="amount_type" placeholder="ночей">
			</div>
			<div class="col-xs-5">
				<input type="text" name="name" class="form-control" id="name" value="{{name}}">
			</div>
			<div class="col-xs-2">
				<input type="text" name="price" class="form-control" id="price" value="{{price}}" data-action="calculate-total-price">
			</div>
			
			<div class="col-xs-2">
			    <p class="form-control-static" data-role="total-price">{{total_price}}</p>
			</div>
		</div>
</template>